@use '../../node_modules/bootstrap/scss/bootstrap.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&family=Roboto+Serif:opsz@8..144&display=swap');

body {
    font-family: 'Kanit', sans-serif;
}

.custom-li {
    cursor: pointer;
    border-bottom: 4px solid white;
    font-size: 13px;

    &:hover {
        color: #0282f9;
        border-bottom: 4px solid #0282f9;

        span {
            color: #0282f9 !important;

        }
    }
}

.content {
    color: white;
    font-size: 23px;
}